.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    max-width: 100%;
    min-height: 88px;
    margin: 0 auto;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile {
    padding-right: 0;
}

.constructor {
    padding-left: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}